{% extends "body.html" %}
{% block body %}
    <h2>
    {% if articulo %}
        Editar Articulo
    {% else %}
        Agregar Articulo
    {% endif %}
    </h2>
    <form action="
    {% if articulo %}
        {{url_for('actualiza_articulo',codigo_articulo=articulo.codigo_articulo)}}
    {% else %}
        {{url_for('agrega_articulo')}}
    {% endif %}
    " method="post" id="formulario" class="bg-dark bg-gradient p-4 rounded">
            <div class="mb-1">
                <label for="nombre_articulo">Nombre Articulo</label>
                <input type="text" name="nombre_articulo" id="nombre_articulo" class="form-control" value="{% if articulo %}{{articulo.nombre_articulo}}{% endif %}" placeholder="Introduzca el nombre del articulo" >
                <div id="nombre_articulo_error" class="error" role="alert">Revise el nombre</div>
            </div>
            <div class="mb-1">
                <label for="codigo_categoria">Nombre Categoria</label>
                <select class="form-select" name="codigo_categoria" id="codigo_categoria" onchange="cambiarSubcategoria()" >
                    <option value="" disabled {% if not articulo %}selected{% endif %}>--Seleccione la Categoria--</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.codigo_categoria}}" {% if articulo and categoria.codigo_categoria==articulo.codigo_categoria %}selected{% endif %}>{{categoria.nombre_categoria}}</option>
                    {% endfor %}
                </select>
                <div id="codigo_categoria_error" class="error">Seleccione una categoria</div>
            </div>
            <div class="mb-1">
                <label for="nombre_subcategoria">Nombre Subcategoria</label>
                <select class="form-select" name="codigo_subcategoria" id="codigo_subcategoria" >
                    <option value="" disabled {% if not articulo %}selected{% endif %}>--Seleccione la Subcategoria</option>
                    {% if articulo %}
                        {% for subcategoria in subcategorias %}
                            <option value="{{subcategoria.codigo_subcategoria}}" {% if articulo.codigo_subcategoria==subcategoria.codigo_subcategoria %}selected{% endif %}>{{subcategoria.nombre_subcategoria}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div id="codigo_subcategoria_error" class="error">Seleccione una subcategoria</div>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="validar()">Enviar</button>
            <a href="{{url_for('articulos')}}" class="btn btn-outline-danger">Cancelar</a>
    </form>
    
<script>
    function cambiarSubcategoria(){
        const categoria=document.getElementById("codigo_categoria");
        const subcategoria=document.getElementById("codigo_subcategoria");
        const categoriaId=categoria.value;
        fetch(`/get_subcategorias/${categoriaId}`)
            .then(response => response.json())
            .then(data=>{
                subcategoria.innerHTML="<option disabled value='' selected>--Seleccione la Subcategoria--</option>";
                data.forEach(sub=>{
                    const option=document.createElement("option");
                    option.value=sub.codigo_subcategoria;
                    option.textContent=sub.nombre_subcategoria;
                    subcategoria.appendChild(option);
                })
            })
    }
    function validar() {
        const formulario=document.getElementById("formulario");

        const nombre = document.getElementById("nombre_articulo").value;
        const nombre_error=document.getElementById("nombre_articulo_error");

        const categoria=document.getElementById("codigo_categoria");
        const categoria_error=document.getElementById("codigo_categoria_error");

        const subcategoria=document.getElementById("codigo_subcategoria");
        const subcategoria_error=document.getElementById("codigo_subcategoria_error");

        let valido=true;
        if(nombre.trim()===""){
            show(nombre_error);
            valido=false;
        }
        else{
            hide(nombre_error);
        }
        if(!categoria.value){
            show(categoria_error);
            valido=false;
        }
        else{
            hide(categoria_error);
        }
        if(!subcategoria.value){
            show(subcategoria_error);
            valido=false;
        }
        else{
            hide(subcategoria_error);
        }
        if(valido){
            formulario.submit();
        }
    }
    function hide(element){
        element.classList.remove('mostrar');
    }
    function show(element){
        element.classList.add('mostrar');
    }
</script>
{% endblock %}