{% extends "body.html" %}
{% block body %}
    <h2>
    {% if categoria %}
        Editar Categoria
    {% else %}
        Agregar Categoria
    {% endif %}
    </h2>
    <form action="
    {% if categoria %}
        {{url_for('actualiza_categoria',codigo_categoria=categoria.codigo_categoria)}}
    {% else %}
        {{url_for('agrega_categoria')}}
    {% endif %}
    " method="post" id="formulario" class="bg-dark bg-gradient p-4 rounded">
            <div class="mb-3">
                <label for="nombre_categoria">Nombre Categoria</label>
                <input type="text" name="nombre_categoria" id="nombre_categoria" class="error form-control" value="{% if categoria %}{{categoria.nombre_categoria}}{% endif %}" placeholder="Ingrese el nombre" >
                <div id="nombre_categoria_error" class="error" role="alert">Revise el nombre</div>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="validar()" >Enviar</button>
            <a href="{{url_for('categorias')}}" class="btn btn-outline-danger">Cancelar</a>
    </form>
    
    <script>
        function validar() {
        const formulario=document.getElementById("formulario");

        const categoria=document.getElementById("nombre_categoria").value;
        const categoria_error=document.getElementById("nombre_categoria_error");

        let valido=true;
        if(categoria.trim()===""){
            show(categoria_error);
            valido=false;
        }
        else{
            hide(categoria_error);
        }
        if(valido){
            formulario.submit();
        }
    }
    function hide(element){
        element.style.display="none";
    }
    function show(element){
        element.style.display="block";
    }
    </script>
{% endblock %}