{% extends "body.html" %}
{% block body %}

    <form action="{{url_for('agrega_subcategoria')}}" method="post" id="formulario">
            <div class="mb-3">
                <label for="codigo_subcategoria">Codigo Subcategoria</label>
                <input type="text" name="codigo_subcategoria" id="codigo_subcategoria" class="error form-control" placeholder="Ingrese el codigo de la subcategoria">
                <div id="codigo_subcategoria_error" class="error text-danger">Revise el tipo</div>
            </div>
            <div class="mb-3">
                <label for="nombre_subcategoria">Nombre Subcategoria</label>
                <input type="text" name="nombre_subcategoria" id="nombre_subcategoria" class="error form-control" placeholder="Ingrese el nombre de la subcategoria">
                <div id="nombre_subcategoria_error" class="error text-danger">Revise el tipo</div>
            </div>
            <div class="mb-3">
                <label for="nombre_categoria">Nombre Categoria</label>
                <select class="form-select" name="codigo_categoria" required>
                    <option selected disabled>--Seleccione una categoria--</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.codigo_categoria}}" >{{categoria.nombre_categoria}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Enviar" class="btn btn-outline-primary">
    </form>
    <a href="{{url_for('subcategorias')}}" class="btn btn-outline-danger mt-1">Cancelar</a>

{% endblock %}