:root{
    --colorMenu:linear-gradient(
                        to right,
                        hsl(250,80%,10%),
                        hsl(250,80%,14%)
                        );
    --colorContenido:linear-gradient(
                        to bottom,
                        hsl(230,80%,10%),
                        hsl(230,80%,20%),
                        hsl(230,80%,25%)
                        );
    --colorFooterHeader:linear-gradient(
                        to  bottom,
                        hsl(230,80%,8%) ,
                        hsl(230,80%,5%),
                        hsl(230,80%,4%)
                        );;
    --colorMenuHover:rgb(212, 255, 255);
    --espacioMenu:250px;
}

body{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8fr auto;
    grid-template-areas: "header header"
                            "main main"
                            "footer footer";
    height: 100vh;
}
header{
    grid-area: header;
    margin-left: var(--espacioMenu);
}
footer{
    grid-area: footer;
    margin-left: var(--espacioMenu);
}
header,
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--colorFooterHeader);
    min-height: 5em;
}
nav{
    padding: 1em;
    position: fixed;
    height: 100vh;
    width: var(--espacioMenu);
    display: flex;
    flex-direction: column;
    background: var(--colorMenu);
    border-right: solid hsl(230,80%,70%) .1em;
}
nav a{
    border-radius: .2em;
    margin: .5em 0;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 25px;
    background: transparent;
    color:rgb(132, 255, 255);
    text-decoration: none;
    font-size: 20px;
    max-height: 5em;
    transition: all .3s linear;
}
nav a:hover{
    background-color: var(--colorMenuHover);
    transform: scale(1.02);
}
main{
    margin-left: var(--espacioMenu);
    grid-area: main;
    background: var(--colorContenido);
    padding: 25px;
    color: #fff;
}
.error{
    background-color: rgba(73, 16, 16, 0.61);
    margin-top: 2px;
    padding-left: 10px;
    transition: transform .3s;
    transform: scaleY(0);
    color:rgb(235, 144, 144);
    border:1px solid rgb(228, 36, 36);
    border-radius: .4em;
}
.error.mostrar{
    transform: scaleY(1);
}
.index{
    display: flex;
    align-items: center;
}
.imgIndex{
    width: 10em;
    display: inline-block;
    object-fit: cover;
}
.btn:hover{
    transition: all .2s;
    transform: scale(1.07);
}